table.sortable {
    width: 800px;
    height: 200px;
    border:solid red;
}
.rc_al{
    color:orange;
}
.rc_tip{
    width:800px;
    float:left;
    background-color:black;
    color:white;
}
.rc_col1, .rc_col2, .rc_col3{
        width:32%;
        float:left;
        margin:2px;
}
.rc_col1, .rc_col2{
    border-right: 1px dotted orange;
}
.rc_nick{
    font-size:1.5em;
    font-weight:bold;
    color:orange;
}
