table.sortable a span { display:none; }
table.sortable a:hover { position: relative; }
table.sortable a:hover span {
background: #000000;
color: #ffff00;
text-decoration:none;
border: 1px solid #cc0000;
padding: 5px;
display:block;
position: absolute;
top: 1.5em;
z-index: 1;
}
.sortable {
    width: 200px;
    height: 200px;
    border:solid red;
}