div.redcap {
	overflow: auto; 
	height: 400px;
}
table.sortable {
    width: 98%;
    height: 200px;
    border:1px groove #999999;
    border-collapse: collapse;
    background-color:#383838;
    color:#e3e3e3;
    font-family:arial,sans-serif;
	font-size: 0.8em;
}
table.sortable th {
background-color: #553333;
}
table.sortable td {
    border-bottom:1px solid #999999;

}
.rc_al {
    color:orange;
}
.rc_cNICK_r {
color:red;
}
.rc_cNICK_g {
color:green;
}
.rc_tip {
    width:800px;
    float:left;
    background-color:black;
    color:white;
}
.rc_col1, .rc_col2, .rc_col3 {
        width:32%;
        float:left;
        margin:2px;
}
.rc_col1, .rc_col2 {
border-right: 1px dotted orange;
}
.rc_nick {
    font-size:1.5em;
    font-weight:bold;
    color:orange;
}
